<a href="https://colab.research.google.com/github/rodrigorhp/Machine-Learning-without-Framework/blob/main/MLwithoutFramework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np 
from numpy import log,dot,e,shape
import matplotlib.pyplot as plt

In [32]:
def optimize(x, y,learning_rate,iterations,parameters): 
    size = x.shape[0]
    weight = parameters["weight"] 
    bias = parameters["bias"]
    for i in range(iterations): 
        sigma = sigmoid(np.dot(x, weight) + bias)
        loss = -1/size * np.sum(y * np.log(sigma)) + (1 - y) * np.log(1-sigma)
        dW = 1/size * np.dot(x.T, (sigma - y))
        db = 1/size * np.sum(sigma - y)
        weight -= learning_rate * dW
        bias -= learning_rate * db 
    
    parameters["weight"] = weight
    parameters["bias"] = bias
    return parameters

In [33]:
def sigmoid(z):
    sig = 1/(1+e**(-z))
    return sig

In [34]:
def train(x, y, learning_rate,iterations):
    parameters_out = optimize(x, y, learning_rate, iterations ,init_parameters)
    return parameters_out

In [47]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [48]:
df = df[df['Embarked'].notna()]

In [49]:
df=df.drop(['Cabin','Name','Ticket','PassengerId'],axis = 1)
from sklearn import preprocessing
leSex = preprocessing.LabelEncoder()
leSex.fit(df['Sex'].unique().tolist())
leEmb = preprocessing.LabelEncoder()
leEmb.fit(df['Embarked'].unique().tolist())
df['Sex'] = leSex.transform(df['Sex'])
df['Embarked'] = leEmb.transform(df['Embarked'])

In [50]:
df['Age'].fillna(df['Age'].median(),inplace = True)

In [51]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [52]:
df.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [53]:
X = df.drop(['Survived'], axis = 1)
y = df['Survived']

In [54]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [55]:
init_parameters = {} 
init_parameters["weight"] = np.zeros(X_train.shape[1])
init_parameters["bias"] = 0

In [56]:
model = train(X_train, y_train, learning_rate = 0.02, iterations = 500)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log
  import sys

In [57]:
model

{'weight': array([-0.33532236, -0.94277433, -0.18551348, -0.78763227, -0.18835458,
         0.07171987, -0.30883098]), 'bias': 0.030809561791134463}

In [64]:
out = np.dot(X_test,model['weight']) + model['bias']
preds = []
for i in out:
  if i >= 1/2:
    preds.append(1)
  else:
    preds.append(0)

In [69]:
actual = y_test.to_list()

In [71]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, preds)

array([[181,   3],
       [ 95,  15]])

In [70]:
for i in range(len(preds)):
  print('Real: ',actual[i],' | Pred: ', preds[i])

Real:  0  | Pred:  0
Real:  1  | Pred:  1
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  1
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  1
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  1
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  1
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  1
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  1
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  1
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  1
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  1
Real:  0  | Pred:  0
Real:  0  | Pred:  1
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  1
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  1
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  1
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  1
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  1
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  1
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  1
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  0  | Pred:  0
Real:  1  | Pred:  0
Real:  1  | Pred:  0
Real:  0  | Pred:  0